<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Existed Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar" th:text="${pageName}"></nav>
<h2 th:text=" 'Masukan Salah! Hotel dengan Id tersebut tidak ditemukan'"></h2>
<div th:if="${action == 1}">
    Proses View dibatalkan
</div>
<div th:if="${action == 2}">
    Proses Update dibatalkan
</div>
<div th:if="${action == 3}">
    Proses Delete dibatalkan
</div>
</body>
</html>