<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Hotel</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar" th:text="${pageName}"></nav>
<section>
    <h2>Informasi Hotel</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">ID Hotel</th>
            <th scope="col">Nama Hotel</th>
            <th scope="col">Alamat Hotel</th>
            <th scope="col">Nomor Telepon</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel, iterationStatus: ${listHotel}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${hotel.id}"></td>
            <td th:text="${hotel.namaHotel}"></td>
            <td th:text="${hotel.alamat}"></td>
            <td th:text="${hotel.nomorTelepon}"></td>
            <td><a th:href="@{/hotel/view/}+${hotel.id}" class="btn btn-sm btn-success" role="button"> Lihat </a></td>
            <td><a th:href="@{/hotel/change/}+${hotel.id}" class="btn btn-sm btn-info" role="button"> Ubah </a></td>
            <td><a th:href="@{/hotel/delete/}+${hotel.id}" class="btn btn-sm btn-danger" role="button"> Hapus </a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>