.kamar {
    border-radius: 20px;
    background-color: #346cce;
    width: max-content;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 5px 0 5px;
    color: white;
    font-weight: bold;
    align-content: center;
    justify-items: center;
    align-items: center;
    place-content: center;
}